
.navbar{
  width: 100%;
  display: flex;
  height:70px;
  padding: 0px;
  margin-top:0px ;
  background-color: #ffffff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-left{
  width: 40%;
  display: flex;
  margin-left: 20%;
  /* border: 1px solid red; */
  /* justify-content:space-around ; */
  align-items: center;
  /* justify-content: center; */
  /* border: 1px solid red; */
}
.location{
  font-size: 1rem;
  color: #686B78;
  margin-left: 15px;
  
}

.location>span:first-child{
  font-weight: bold;
  color: black;
  text-decoration: underline;
  margin-right: 10px;
}

.location-arrow{
  color: #FD8119;
}

.navbar-right{
  width: 40%;
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
  margin-right: 20%;
}

.navbar-right>ul{
  width: 100%;
  height: 100%;
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.swiggylogo{
  width: 35px;
  height: 50px;
}
.header {
    display: flex;
    justify-content: space-between ;
    margin: 10px;
    border: 1px solid black;
}

.nav-items > ul{
    list-style-type: none;
    display: flex;
}

 .navbar-right>ul > li {
  width: 25%;
    padding: 10px;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}
.navbar-right>ul > li>p{
  margin-left: 5px;
}
.navbar-right>ul > li:hover{
  color: #FD8018;
}

.logo {
    width: 100px;
}

.card > img {
    width: 100%;
}

.restaurant-list {
    /* display: flex;
    flex-wrap: wrap; */
    width: 70%;
    display: grid;
    grid-template-columns: repeat(4,22%);
    grid-template-rows: auto;
    gap:8rem auto;
    margin: 15px auto;
    justify-content: space-around;
    /* border: 1px solid red; */
}
.card{
  /* width: 300px; */
  /* height: 40vh; */
  /* border: 1px solid black; */
  /* padding: 10px; */
  color: #282C3F;
  padding: 15px;
  overflow: hidden;
  transition: all 0.5s;
  /* margin: 10px; */
}
.card:hover{
  border:1px solid #E8E9EA;
  padding: 15px;
  transform: scale(1.05);
  overflow: hidden;
}
/* .card{
  width: 300px;
} */

.card-link{
  text-decoration: none;
  color: #8A8D96;
}
/* .shimmer-card {
    width: 400px;
    height: 300px;
    background: lightgrey;
    margin: 20px;
} */

.menu {
    display: flex;
}

.search-div{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  height: 280px;
  background-color: #494C61;
  color: #ffffff;
  z-index: 10;
}
.search-content{
  width: 40%;
  margin-left: 20%;
}
.search-input-box{
  border: 0px;
  
}
.search-input{
  width: 60%;
  display: flex;
  justify-content: space-between;
  height: 2.8rem;
  background-color: #ffffff;
}
.search-input>input{
  width: 75%;
}
.search-input>input:focus{
 border: 3px solid #FC8118;
}
.search-input>button{
  width: 25%;
  height: 100%;
  background-color: #FC8118;
  color: #ffffff;
  border: 0px;
  font-weight: bold;
}

/* card price */

.price-div{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7rem;
}
.restaurant-name{
  /* line-height: 10px; */
}
.restaurant-cuisines{
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.rating{
  width: 20%;
  font-size: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  /* background-color: #48C479;
  color: #ffffff; */
}
.price-dots{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardhrline{
  color: #E8E9EA;
  /* margin-bottom: 10px; */
}
.card-discount{
  display: flex;
  align-items: center;
  color: #8A594A;
  font-size: 0.9rem;
  margin-top: -2px;
  padding-bottom: 10px;
}
.card-discount-icon{
  margin-right: 7px;
  background-color: #8A594A;
  color: #ffffff;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: bold;

  
}
.profile-icon{

  font-size:1.5rem;
}